
@{
    ViewBag.Title = "Genel Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DomurTech.Globalization
@model DomurTech.ERP.UI.Web.Installation.Models.SettingModel

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @Html.Action("StepWizard", new { @step = "4" })
    </div>
</div>
<div class="row">

    <div class="col-md-10 col-md-offset-1">
        @if (Model.HasError)
        {
            <div class="alert alert-danger"><strong>Hata Oluştu! </strong>@Html.Raw(Model.Message)</div>
        }
        @using (Html.BeginForm("Step4", "Home", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Genel Ayarlar</legend>
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationName, Dictionaries.ApplicationName, new { @class = "col-lg-3 control-label", @for = "ApplicationName" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.ApplicationName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ApplicationName, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationUrl, Dictionaries.Url, new { @class = "col-lg-3 control-label", @for = "ApplicationUrl" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.ApplicationUrl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ApplicationUrl, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpServer, Dictionaries.SmtpServer, new { @class = "col-lg-3 control-label", @for = "SmtpServer" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpServer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpServer, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpPort, Dictionaries.SmtpPort, new { @class = "col-lg-3 control-label", @for = "SmtpPort" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpPort, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpPort, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpSsl, Dictionaries.SmtpSsl, new { @class = "col-lg-3 control-label", @for = "SmtpSsl" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpSsl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpSsl, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpSenderMail, Dictionaries.SmtpSenderMail, new { @class = "col-lg-3 control-label", @for = "SmtpSenderMail" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpSenderMail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpSenderMail, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpUser, Dictionaries.SmtpUser, new { @class = "col-lg-3 control-label", @for = "SmtpUser" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpUser, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpUser, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpPassword, Dictionaries.SmtpPassword, new { @class = "col-lg-3 control-label", @for = "SmtpPassword" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpPassword, "", new { @class = "help-block" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.SmtpSenderName, Dictionaries.SmtpSenderName, new { @class = "col-lg-3 control-label", @for = "SmtpSenderName" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.SmtpSenderName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SmtpSenderName, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <a href="@Url.Action("Step3")" class="btn pull-left btn-primary">&laquo; @Dictionaries.Previous</a>
                        <button class="btn pull-right btn-primary">@Dictionaries.Next &raquo;</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>